# FUNCTIONS
- it is a organized block of code to perform specific task.
- with def keyword
- after defining the function we have to start with function name():
- in the parenthasis pass parameters.
- n number of parameters we can pass,seperated it by(,)
- call the function with function name by passing your arguments.
- Syntax=def function_name(parameters):
- statements
- function calling function_name(arguments)

In [3]:
def addd(a,b):
    return a+b
addd(4,6)

10

In [8]:
#area of circle
def area(r):
    return 3.14*(r**2)
area(4)

50.24

In [9]:
#even and odds
def evenodd(a):
    if a%2==0:
        return "even"
    else:
        return "odd"
evenodd(76)c

'even'

In [3]:
a=int(input())
b=int(input())
row=""
for i in range(a,b+1):
    row=row+str(i)+" "
    print(row)

 5
 9

5
5 6
5 6 7
5 6 7 8
5 6 7 8 9

In [4]:
z=["pranay","sai","vishu","santhosh"]
def pranay(a):
    for i in a:
        print(i)
pranay(z)

pranay
sai
vishu
santhosh

## Types of functions

- built-in functions
- user defined functions
- anonymous functions

## ii.USER DEFINED FUNCTIONS
#### difference between print and return statement

- print will not assign value back to the variable
- but in the return it will assign the value

In [7]:
def add(a,b):
    x=a+b
    print(x)
x=add(4,5)
print(x)
def addd(a,b):
    x=a+b
    return x
addd(4,5)

9
None

9

- here x value in the add method will be none.
- int the addd method x value will be assigned.

In [9]:
def passage(mark1,mark2,mark3):
    a=mark1+mark2+mark3
    b=150
    if a>b:
        print("scored more than 50 percent")
    elif mark1>=35 and mark2>=35 and mark3>=35:
        print("all passed")
    else:
        return "failed"
mark1=int(input())
mark2=int(input())
mark3=int(input())
passage(mark1,mark2,mark3)

 56
 56
 56

scored more than 50 percent

## Type Of Arguments

- There are two types of arguments
### I.Fixed length arguments
- we pass fixed number of arguments
- again divided into three types
##### i).required length arguments
- we exactly give the number of arguments required.
##### ii).Default arguments
- these are also comes under fixed length but we can set a default value.
##### iii).keyword argumrnts
- we can pass the values in the function calls.

In [11]:
#required length arguments
def addedd(a,b):
    c=a+b
    return c
addedd(9,6)

15

In [10]:
# default arguments
def added(a,b=6):
    c=a+b
    return c
added(9)

15

In [19]:
#keyword arguments
def sub(x,y):
    c=x-y
    return c
sub(10,5)
sub(y=5,x=10)

5

In [14]:
def namee(b,a="pranay"):
    d=a+b
    print(d)
namee(" good morning")

pranay good morning

### II.Variable Length  Arguments

-  we can pass n no of arguments.
-  (*) before the parameter.

In [22]:
def pranay(*a):
    print(a)
pranay("pranay")
pranay("pranay","raju","sravan")

('pranay',)
('pranay', 'raju', 'sravan')

In [26]:
def pranay(a,*b):
    print(b)
pranay(3,7,6,8)

(7, 6, 8)

## iii.Anonymous Functions

- nameless functions
- "lambda functions"
- entire operation can be written in single line.
- syntax:variable_name=lambda parameters:expressions
- addition=lambda a,b:a+b
- lambda wont take more than one expression.
- there are three types again and they are:
- MAP
- FILTER
- REDUCE

In [29]:
addition=lambda a,b:a+b
addition(6,7)

13

In [ ]:
addition=lambda a,b:a+b,a-b
addition(6,7)

## I.MAP:
- it will map with each and every element using map function.
- we need to mention whether it is list or tuple or ....

In [34]:
li=[1,2,34,4,5,6]
xy=list(map(lambda a:a*2,li))
xy

[2, 4, 68, 8, 10, 12]

In [36]:
li=(1,2,34,4,5,6)
xy=tuple(map(lambda a:a*2,li))
xy

(2, 4, 68, 8, 10, 12)

In [37]:
ab=["Pranay","Santhosh","Vishu"]
y=list(map(lambda a:a.lower(),ab))
y

['pranay', 'santhosh', 'vishu']

 ## II.FILTER

- filter function applies predicate(condition) on the sequence.if predicate returns true the value is dropped from the consideration.

In [3]:
li=[1,2,3,4,5,6]
evens=list(filter(lambda a:a%2==0,li))
evens

[2, 4, 6]

In [4]:
lii=["pranay","raju","sai","vishu"]
red=list(filter(lambda a:len(a)>=4,lii))
red

['pranay', 'raju', 'vishu']

## III.REDUCE

- It is used to reduce the value to a single digit by applying function repeatedly.

In [5]:
import functools
from functools import reduce
li=[1,2,3,4,5,6]
ab=reduce(lambda a,b:a+b,li)
ab

21

# SCOPE OF VARIABLES

- The scope of variable is the part of the program where the variable can be referenced
### Global Variables
- defined outside of any function.
- can be accessed anywhere in the code including inside functions.
### Local Variables
- Defined inside a function.
- Only accessible within that function.

In [4]:
x=10 ## global
def ab():
    global y
    y=3 ## local
    print(x)
    print(y)
print(y)
ab()

3
10
3

In [2]:
  print(x)

10

In [3]:
  print(y)

3

In [4]:
  print(x)
  print(y)

10
3

# RECURSION

In [15]:
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)
fact(6)

720

In [18]:
def fibo(n):
    if n==1:
        return 1
    elif n==0:
        return 0
    else:
        return fibo(n-1)+fibo(n-2)
fibo(8)

21

In [19]:
def summ(n):
    if n==1:
        return 1
    elif n==0:
        return 0
    else:
        return n+summ(n-1)
summ(8)

36

# CLASS TASKS

In [3]:

n = int(input("Enter the value of n: "))
for j in range(2, n + 1):
    isp = True
    for i in range(2, int(j ** 0.5) + 1):
        if j % i == 0:
            isp = False
            break
    if isp :
        print(j, end=" ")

Enter the value of n:  56

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53

In [4]:
a=eval(input())
tar=int(input())
li=[]
if 2<=len(a)<=104:
    for i in range(len(a)):
        for j in range(i+1,len(a)):
            if a[i]+a[j]==tar:
                li.extend([i,j])
print(li)

 [2,3,4,5]
 9

[2, 3]

In [8]:
a=int(input())
reverse=0
while a>0:
    b=int(a%10)
    reverse=reverse*10+b
    a=a//10
print(reverse)

 1223

3221

In [4]:
class a:
    def method(self,a):
        self.a=a
        print(a)
    def method(self,a,b):
        self.a=a
        self.b=b
        print(a+b)
b=a()
b.method(4,6)

10

In [11]:
a=int(input())
b=int(input())
isprime=True
for i in range(a,b+1):
    for j in range(2,int(i**0.5)+1):
        if i%b==0:
            isprime=False
            break
if isprime:
    if (isprime+2)==isprime:
        print(isprime,isprime+2)

 1
 100