## Q1. Concatenate two lists (like first names and last names) using +.

In [2]:
first_names=["mattapelly","madibooyena","kyatham","merugu"]
last_names=["pranay","sai","vishu","nithish"]
print(first_names+last_names)

['mattapelly', 'madibooyena', 'kyatham', 'merugu', 'pranay', 'sai', 'vishu', 'nithish']

## Q2.Duplicate a list using the * operator and show how the elements repeat.

In [5]:
a=[1,2,3,4,5,6,7,8]
b=a*2
print(b)
c=a*3
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

## Q3.Access the last 3 items of a list using negative slicing.

In [6]:
a=[1,2,3,4,5,6,7,8]
print(a[-3:])

[6, 7, 8]

## Q4.Use slicing to get a sublist from index 1 to 4

In [7]:
a=[1,2,3,4,5,6,7,8]
print(a[:5])

[1, 2, 3, 4, 5]

## Q5.Use del to delete the second element from a list.

In [9]:
a=[1,2,3,4,5,6,7,8]
del a[1]
a

[1, 3, 4, 5, 6, 7, 8]

## Q1. Create two lists and join them into a single list using +.

In [10]:
first_names=["mattapelly","madibooyena","kyatham","merugu"]
last_names=["pranay","sai","vishu","nithish"]
print(first_names+last_names)

['mattapelly', 'madibooyena', 'kyatham', 'merugu', 'pranay', 'sai', 'vishu', 'nithish']

## Q2.Make a copy of a list and modify the copy. Show that the original list is unchanged

In [12]:
a=[1,2,3,4,5,6,7,8]
b=a.copy()
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

## Q3.Create a list of 5 integers and sort them in ascending order.

In [17]:
a=[1,2,6,3,8]
a.sort()
print(a)

[1, 2, 3, 6, 8]

## Q4.. Create a list of 5 strings and sort them in reverse alphabetical order.

In [20]:
last_names=["pranay","sai","vishu","nithish"]
last_names.sort(reverse='True')
print(last_names)

['vishu', 'sai', 'pranay', 'nithish']

## Q5.Create a list and reverse the entire list using a method.

In [22]:
a=[1,2,3,4,5,6,7,8]
a.sort(reverse='True')
a

[8, 7, 6, 5, 4, 3, 2, 1]

## Q6.Create a list of 4 colors. Clear all the elements using a method and print it.

In [25]:
a=["red","yellow","green","blue"]
a.clear()
a

[]

## Q7. Create a list and multiply it by 3 (list * 3). What is the result?

In [27]:
a=["red","yellow","green","blue"]
print(a*3)

['red', 'yellow', 'green', 'blue', 'red', 'yellow', 'green', 'blue', 'red', 'yellow', 'green', 'blue']

## Q8. Create a list and access only the first three items using slicing.

In [28]:
first_names=["mattapelly","madibooyena","kyatham","merugu"]
print(first_names[:3])

['mattapelly', 'madibooyena', 'kyatham']

## Q9. Create a list and delete the second item using the del keyword.

In [30]:
a=[1,2,3,4,5,6,7,8]
del a[1]
print(a)

[1, 3, 4, 5, 6, 7, 8]

## Q10. Create a list of your top 5 favorite movies.Remove a movie by name and then add a new one at the end.

In [32]:
a=["ace","eleven","dark","padakkalam","hrudaya kaleyam"]
a.remove("dark")
a

['ace', 'eleven', 'padakkalam', 'hrudaya kaleyam']