# SETS
- it is an unordered datatype
- so we cant do indexing or slicing.
- mutable
- allows all datatypes but dosent allow duplicates it allows unique values.

### Create a empty set

In [9]:
s1={ }
type(s1)

dict

In [10]:
s2=set()
type(s2)
s2

set()

In [11]:
s3={1,2,3,4,5,4}
type(s3)
s3

{1, 2, 3, 4, 5}

In [12]:
s4=set(2)
type(s4)

TypeError: 'int' object is not iterable

In [ ]:
s5=set({2,3,4,5})
type(s5)

In [13]:
s6=set("hello")
type(s6)
s6

{'e', 'h', 'l', 'o'}

In [14]:
s7=set({'hello'})
type(s7)
s7

{'hello'}

# Add
- adds a single element at a random position.

In [15]:
sr={1,2,3,4,5,6,90}
sr.add(21)
sr

{1, 2, 3, 4, 5, 6, 21, 90}

## Update
- adds a set of elements at a random positions.

In [16]:
sr={1,2,3,4,5,6,90}
sr.update([21,34,78,24])
sr

{1, 2, 3, 4, 5, 6, 21, 24, 34, 78, 90}

# Discard:
- it is used to remove elements from a set.
- it performs same operations like remove but if the elements doesnt exist in the set.it will not throw an error.

In [19]:
sr={1,2,3,4,5,67,43,89}
sr.discard(4)
sr

{1, 2, 3, 5, 43, 67, 89}

# REMOVE:
- it is used to remove elements from a set.
- it performs same operations like discard but if the elements doesnt exist in the set.it will throw an error.

In [20]:
sr.remove(3)
sr.remove(200)

KeyError: 200

# Pop
- it is also used to remove the elemnts from a set.
- it first displays the item that to be popped up and then removes.

In [22]:

sr.pop()

1

# Clear
- to delete the all elemnts from the set.

In [23]:
sr.clear()
sr

set()

# ALL OPERATIONS ON SET
## LENGTH
## MAXX
## MINN
## MEMBERSHIP
## SUM

In [24]:
ab={1,2,3,4,5,6,7,89}
print(len(ab))
print(max(ab))
print(min(ab))
print(3 in ab)
print(sum(ab))

8
89
1
True
117

# SET OPERATIONS
- UNION
- INTERSECTION
- DIFFERENCE

### UNION
- all the elements once will be stored.

## Intersection
- all common elements.

## difference 
- only unique elements from the lhs of the difference

In [25]:
a={1,2,3,4,5,7,8}
b={4,6,7,8,9,10,11,12}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{8, 4, 7}
{1, 2, 3, 5}
{6, 9, 10, 11, 12}

## ISDISJOINT
- if both the sets dont have any unique elements then it returns true.
- if any element is common in the sets then it returns true

In [26]:
a={1,2,3}
b={4,5,6}
a.isdisjoint(b)

True

In [27]:
a={1,2,3}
b={3,4,5,6}
a.isdisjoint(b)

False

# Frozen Set
- if we freeze a set it is not possible to do any operation on the frozen set.

In [28]:
sd={1,2,3,4,5}
print(type(sd))

<class 'set'>

In [29]:
sf=frozenset(sd)
print(type(sf))

<class 'frozenset'>

In [30]:
sf.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [7]:
a=input()
c=len(a)
sum=0
a=int(a)
z=a
while a>0:
    b=a%10
    sum=sum+b**c
    a=a//10
if sum==z:
    print("armstrong number")
else:
    print("no")

 4534

no

In [9]:
a=int(input())
rev=0
z=a
while a>0:
    b=a%10
    rev=rev*10+b
    a=a//10
if rev==z:
    print("palindrome")
else:
    print("no")

 1221

palindrome

In [17]:
a=int(input())

summ=0
z=a
while a>0:
    b=a%10
    fact=1
    for i in range(1,b+1):
        fact*=i
    summ=summ+fact
    a=a//10  
if summ==z:
    print("strong ")
else:
    print("no")

 145

strong

In [21]:
a=int(input())
num1=0
num2=1
print(num1,end=" ")
print(num2,end=" ")
for i in range(2,a+1):
    num3=num1+num2
    print(num3,end=" ")
    num1=num2
    num2=num3

 5

0 1 1 2 3 5