# STRINGS
- It is a collection of characters.
- They are Immutable.Once created we cannot change/update.
- It includes alphabets,symbols,numbers,special characters etc...
- are written in ' ' or " " or """ ''' ''' """ or""" """ .
- ' ' used for single words.
- " " used for multiple words
- """ """ or ''' ''' used for storing multiple lines.

In [2]:
a='hi'
print(a)
print(type(a))

hi
<class 'str'>

In [1]:
b="hi inno"
'''sdifhsiufhsiuvbsdufbgasdjv'''
print(b)
print(type(b))

hi inno
<class 'str'>

## String Indexing
- index starts from 0
- index will represeent what is the position of elements.
- 2 types of indexing
    - positive indexing- from starting 0
    - negative indexing(or) Reverse Indexing- from ending -1

In [2]:
A="Hello Python"
print(A[-2])
print(A[10])

o
o

## String Slicing
- it is used to extract a portion of a string.
- there are two types of slicing they are positive and negative
- syntax=var_name[index no]
- Syntax=var_name[start:stop]stop should be of +1 that to be printed
- syntax=var_name[start:stop:step] steps are used to skip the number of steps from the strating

In [5]:
a="hello python"
print(a[8:])
print(a[-4:])
print(a[-8:-2])
print(a[:6:3])
print(a[::-1])

thon
thon
o pyth
hl
nohtyp olleh

In [6]:
print(a[:5:2])
print(a[::2])
print(a[:-5])

hlo
hlopto
hello p

In [6]:
z="Pranay Rao"
print(z[3])
print(z[-2])
print(z[:])
print(z[7:])
print(z[:6])
print(z[:6:1])
print(z[-3:])
print(z[-5::2])
print(z[-7::-1])
print(z[-1::-1])
print(z[-1:-3])

n
a
Pranay Rao
Rao
Pranay
Pranay
Rao
yRo
narP
oaR yanarP

In [8]:
a="Innomatics Research Labs"
print(a[:-14])
print(a[-13:-5])
print(a[-4:])

Innomatics
Research
Labs

In [5]:
print((-7)%(3))

2

## STRING METHODS

#### 1.Length function (len()):
- to know the length of a string

In [1]:
a = "Pranay Rao"
print(len(a))

10

#### 2.Upper and Lower functions(upper()) and (lower()):
- upper converts all characters to capital letters.
- lower converts all characters to small letters.

In [10]:

print(a.upper())
print(a.lower())

PRANAY RAO
pranay rao

#### 3.Capitalize():
- It changes first letter/character into capital letter.

In [11]:
print(a.capitalize())

Pranay rao

#### 4.Title():
- it changes first letter of every word to capital letter.

In [12]:
print(a.title())

Pranay Rao

#### 5.Count():
- count is used to count sub-strings in a main string.

In [13]:
print(a.count("a"))

3

#### 6.startswith():
- To check whether a string is starting with specific sub-string.

In [14]:
print(a.startswith("Pr"))

True

#### 7.endswith():
- To check whether a string is ending with specific sub-string.

In [15]:
print(a.endswith("rao"))

False

#### 8.find() and index():
- it is used to get the first occurance of a substring.
- find and index perform same function.

In [2]:
print(a.find('aan'))
print(a.index('aan'))

-1

ValueError: substring not found

#### 9.isdigit():
- to check whether a string consists of any numeric values.

In [13]:
# print(a.isdigit())
b="12345"
b.isdigit()

True

#### 10.replace()
- It is used to replace any substring with new replacement value.

In [2]:
a = "Pranay rao"
print(a.replace("Pr","aa"))
a

aaanay rao

'Pranay rao'

#### 11.strip()
- it is used to remove leading and trailing spaces of the string
##### 11.  i.lstrip():
- it is used to remove spaces on the left side.
##### 11.  ii.rstrip():
- It is used to remove spaces on the right side.

In [7]:
a=" Pranay "
print(a.lstrip())
print(a.rstrip())
print(a.strip())
print(a)
b="*****Innomatics****Research****Labs****"
print(b.strip("*"))

Pranay
 Pranay
Pranay
 Pranay
Innomatics****Research****Labs

#### 12.split:
- splitting a string into sub-strings based on default delimter(space).

In [2]:
b="innomatics research labs"
print(b.split())
print(b.split('a'))
a=b.split("a")
a

['innomatics', 'research', 'labs']
['innom', 'tics rese', 'rch l', 'bs']

['innom', 'tics rese', 'rch l', 'bs']

### Join
- syntax: 'seperator'.join(var)

In [6]:
print("|".join(b))

i|n|n|o|m|a|t|i|c|s| |r|e|s|e|a|r|c|h| |l|a|b|s

# isalpha

In [4]:
a = "hello"
a.isalpha()

True

#### 13.delete
- it can delete the entire string.
- deletion of items from the string is not possible.
- del is the keyword.

In [5]:
del b[1]

TypeError: 'str' object doesn't support item deletion

In [6]:

print(b)

hi inno

In [7]:
del b

## .format

- is used to combine string with values.

In [33]:
a=5
b=False
c=7
"a has {},b has {},c has {}".format(a,b,c)

'a has 5,b has False,c has 7'

## String Concatenation

- It is adding  two or more strings

In [34]:
a="Hello"
b="Pranay"
print(a+" "+b)

Hello Pranay

## String Membership

- It checks whether a value is present in the string.

In [36]:
a="Pranay"
print('a' in a)
print('y' not in a)

True
False

##  Type Casting On Strings
- converting data type of a value

In [44]:
a="abc"
float(a)

ValueError: could not convert string to float: 'abc'

In [45]:
int(a)

ValueError: invalid literal for int() with base 10: 'abc'

In [46]:
complex(a)

ValueError: complex() arg is a malformed string

In [47]:
a="123"
print(float(a))

123.0

In [48]:
print(int(a))

123

In [49]:
print(complex(a))

(123+0j)

In [57]:
a="123.50"
print(float(a))

123.5

In [58]:
print(complex(a))

(123.5+0j)

In [59]:
print(int(a))

ValueError: invalid literal for int() with base 10: '123.50'

In [53]:
a="123+0j"
print(int(a))

ValueError: invalid literal for int() with base 10: '123+0j'

In [55]:
print(float(a))

ValueError: could not convert string to float: '123+0j'

In [54]:
print(complex(a))

(123+0j)

# Input Function

- It is taking input dynamically from the user.
- it is an inbuit function in python.
- syntax:- x=input()
- By default input function holds string data type.

In [62]:
x = input()
print(type(x))

 pranay

<class 'str'>

In [65]:
a=int(input("enter the value:"))

enter the value: 9898

In [69]:
a=float(input())
print(a)

 4

4.0

# Variable Assignment

In [72]:
a=5 # single value assignment
a # calling

5

In [73]:
print(a) # printing

5

In [74]:
a,b,c=4,5,6 #multiple value assignment to multiple variables 
a,b,c

(4, 5, 6)

# f-String

- formatted string.
- here we can write expressions as we cannot write expressions in .format

In [79]:
a=4
b=5
print(f"sum of {a} and {b} is {a+b}")

sum of 4 and 5 is 9

In [84]:
x=3
y=5
print("sum of {} and {} is {}".format(a,b,a+b))
print(f"sum of {a} and {b} is {a+b}")

sum of 4 and 5 is 9
sum of 4 and 5 is 9

# eval function

- Evaluation of your expression whether it is valid or not.

In [96]:
x=5
y=6
print(x+y)
eval("x+15")

11

20